/* Light Theme */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    /* Add more as needed */
  }
  
  /* Dark Theme */
  body.dark {
    --bg-color: #000000;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  /*Switcher*/
  
  .switch {
      position: relative;
      display: inline-block;
      width: 44px; 
      height: 24px; 
  
      input {
          opacity: 0;
          width: 0;
          height: 0;
  
          &:checked + .slider {
              background-color: #476173;
  
              &:before {
                  transform: translateX(20px);
                  background-color: transparent;
                  border-radius: 50%;
                  border-top-color: transparent;
                  border-left-color: transparent;
                  border-right-color: transparent;
                  box-shadow: inset -5px -3px 0 #d8e9ef;
              }
          }
      }
  
      .slider {
          position: absolute;
          cursor: pointer;
          top: 0; left: 0; right: 0; bottom: 0;
          background-color: #7bb9f5;
          transition: .4s;
          border-radius: 20px;
          box-shadow: 0 0 0.25em  rgba(67,71,85,0.27), 0.2px 0.2em 24px 0 rgba(1,29,77,0.15);
  
          &:before {
              position: absolute;
              content: '';
              height: 16px;
              width: 16px;
              left: 4px;
              bottom: 4px;
              background-color: yellow;
              transition: .4s;
              border-radius: 50%;
              text-align: center;
              line-height: 16px;
          }
      }
  }
  
  /*Switcher demo styles*/